<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900223408660-i2o1bq5datemtkh4arq624tigu5sp0ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900223408660-i2o1bq5datemtkh4arq624tigu5sp0ec</string>
	<key>API_KEY</key>
	<string>AIzaSyBLmfRuL6dK3YrkQcboF-qWgbaERa35nqo</string>
	<key>GCM_SENDER_ID</key>
	<string>900223408660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boot.huihappy</string>
	<key>PROJECT_ID</key>
	<string>huihappy-release</string>
	<key>STORAGE_BUCKET</key>
	<string>huihappy-release.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:900223408660:ios:fae75c189d4a13c63e2501</string>
	<key>DATABASE_URL</key>
	<string>https://huihappy-release.firebaseio.com</string>
</dict>
</plist>
